<div class="container">

      <div class="cinta">
          <label for="cinta">cinta</label>
          <input type="text" name="cinta">
      </div>
      <div class="programa_turing">
          <label for="programa de truing">Instrucciones de estados</label><br>
          <textarea name="programa_turing" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="estados_acept">
          <label for="programa de truing">Estado(s) de aceptacion (Separados por comas)</label><br>
          <textarea name="estados_acept" id="" cols="30" rows="10"></textarea>
      </div>
      <input type="submit" value="Enviar">

</div>
<button class="btn btn-primary" (click)="mostrar()">test</button>
    <p>{{test}}</p>